@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Science+Gothic:wght@100..900&display=swap');


@import "tailwindcss";

@theme{
   --font-monsterrat: 'Montserrat', sans-serif;
   --color-brand: #552c10;
}

:root {
  --brand-color: #552c10;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--font-monsterrat);
   
    font-weight: 500;

   

    
   

}


.container{
    width: 80vw;
    margin: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    padding: 0 1vw;
}   

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
   
}

.cta-btn{
    border: 1px solid ;
    padding: 0.8rem 1.8rem; 
    border-radius: 2rem;
    color: var(--brand-color);
}

.cta-btn:hover{
    background-color: var(--brand-color);
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.hero-container img{
    filter: drop-shadow(0 10px 5px rgba(37, 37, 37, 0.0745098039));
}
